// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import 'normalize.css/normalize.css';

:root {
  --font-mono: 'Pretendard Variable', Pretendard, ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  color: rgb(51, 51, 51);
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border: 0px;
  background: none;
}

input {
  background: none;
  padding: 9px 12px;
  color: rgb(51, 51, 51);
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  letter-spacing: -0.5px;
  font-size: 14px;
  line-height: 1.57;
  appearance: none;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 72px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  border-bottom: 1px solid rgb(238, 238, 238);
  .container {
    position: relative;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 960px;
  }
}

footer{
  background-color: #f7f7f7;
  margin: 120px auto 0;
  min-width: 360px;
  max-width: 420px;
  padding-bottom: 100px;
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    cursor: pointer;
    img {
    }
  }
  .swiper-wrapper {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: content-box;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    z-index: 1;
  }
  .swiper-button-prev {
    display: none;
    width: 44px;
    height: 44px;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    left: 16px;
    &:after {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .swiper-button-next {
    display: none;
    width: 44px;
    height: 44px;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    right: 16px;
    &:after {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
  }
  .swiper-pagination-bullet {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 960px) {
  .swiper {
    width: 960px;
    overflow: visible !important;
    .swiper-wrapper {
      width: 1000%;
      height: 320px;
    }
    .swiper-button-prev {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .swiper-pagination-bullet {
      height: 8px;
      width: 8px;
    }
    .swiper-button-next {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    &:before,
    &:after {
      content: '';
      display: block;
      width: 1000%;
      position: absolute;
      top: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.6);
      z-index: 10;
    }

    &:before {
      left: -1000%;
    }

    &:after {
      right: -1000%;
    }
  }

  footer{
    padding: 20px;
    max-width: none;
  }
}
